In [136]:
dates = ['2019-07-01 12:01:19.111',
    '2019-06-24 12:01:19.222',
    '2019-11-16 16:44:55.406',
    '2019-11-16 16:50:59.406']

In [137]:
import pandas as pd

In [138]:
df=pd.DataFrame(dates,columns=['Date'])

In [139]:
v=pd.to_datetime(dates)

In [140]:
df

                      Date
0  2019-07-01 12:01:19.111
1  2019-06-24 12:01:19.222
2  2019-11-16 16:44:55.406
3  2019-11-16 16:50:59.406

In [141]:
df=pd.to_datetime(df['Date'])

In [142]:
df

0   2019-07-01 12:01:19.111
1   2019-06-24 12:01:19.222
2   2019-11-16 16:44:55.406
3   2019-11-16 16:50:59.406
Name: Date, dtype: datetime64[ns]

In [143]:
g=pd.Timestamp.now()

In [144]:
g=[]
for i in range(len(v)):
    g.append(pd.Timestamp.now())

In [145]:
g

[Timestamp('2022-09-21 15:36:50.726232'),
 Timestamp('2022-09-21 15:36:50.726232'),
 Timestamp('2022-09-21 15:36:50.726232'),
 Timestamp('2022-09-21 15:36:50.726232')]

In [146]:
len(v)

4

In [147]:
v

DatetimeIndex(['2019-07-01 12:01:19.111000', '2019-06-24 12:01:19.222000',
               '2019-11-16 16:44:55.406000', '2019-11-16 16:50:59.406000'],
              dtype='datetime64[ns]', freq=None)

In [148]:
list(zip(g,v))

[(Timestamp('2022-09-21 15:36:50.726232'),
  Timestamp('2019-07-01 12:01:19.111000')),
 (Timestamp('2022-09-21 15:36:50.726232'),
  Timestamp('2019-06-24 12:01:19.222000')),
 (Timestamp('2022-09-21 15:36:50.726232'),
  Timestamp('2019-11-16 16:44:55.406000')),
 (Timestamp('2022-09-21 15:36:50.726232'),
  Timestamp('2019-11-16 16:50:59.406000'))]

In [149]:
df1=pd.DataFrame(zip(g,v),columns=["curr_dat",'Date',])

In [150]:
df1

                    curr_dat                    Date
0 2022-09-21 15:36:50.726232 2019-07-01 12:01:19.111
1 2022-09-21 15:36:50.726232 2019-06-24 12:01:19.222
2 2022-09-21 15:36:50.726232 2019-11-16 16:44:55.406
3 2022-09-21 15:36:50.726232 2019-11-16 16:50:59.406

In [151]:
k=(df1.curr_dat-df1.Date).dt.days
k

0    1178
1    1185
2    1039
3    1039
dtype: int64

In [152]:
q=k*24

In [153]:
m=q*60

In [154]:
s=m*60

In [155]:
df1['no_date']=k
df1['hrs']=q
df1['min']=m
df1['sec']=s

In [156]:
df1

,curr_dat,Date,no_date,hrs,min,sec
0,2022-09-21 15:36:50.726232,2019-07-01 12:01:19.111,1178,28272,1696320,101779200
1,2022-09-21 15:36:50.726232,2019-06-24 12:01:19.222,1185,28440,1706400,102384000
2,2022-09-21 15:36:50.726232,2019-11-16 16:44:55.406,1039,24936,1496160,89769600
3,2022-09-21 15:36:50.726232,2019-11-16 16:50:59.406,1039,24936,1496160,89769600

In [157]:
df1

,curr_dat,Date,no_date,hrs,min,sec
0,2022-09-21 15:36:50.726232,2019-07-01 12:01:19.111,1178,28272,1696320,101779200
1,2022-09-21 15:36:50.726232,2019-06-24 12:01:19.222,1185,28440,1706400,102384000
2,2022-09-21 15:36:50.726232,2019-11-16 16:44:55.406,1039,24936,1496160,89769600
3,2022-09-21 15:36:50.726232,2019-11-16 16:50:59.406,1039,24936,1496160,89769600

In [158]:
(df1.curr_dat-df1.Date)*24

0   28275 days 14:12:38.765568
1   28443 days 14:12:36.101568
2   24958 days 20:46:07.685568
3   24958 days 18:20:31.685568
dtype: timedelta64[ns]